    
.TopGroup
{
  background-color: #666666;
  border: 1px;
  border-color: white;
  border-top-color: #CCCCCC;
  border-left-color: #666666;
  border-bottom-color:#CCCCCC;
  border-style: solid;
  border-right: none;
  cursor: default;
}

.Level2Group
{
  background-color:#CCCCCC;
  border:1px solid #CCCCCC;
  border-bottom-color:#F6F6F6;
  border-right-color:white;
  border-right:none;
  cursor:default;
}

.TopLevelTab 
{
  color:white;
  font-family:verdana;
  font-size:11px;
  border:1px solid #666666;
  cursor: pointer;
}

.TopLevelTabHover 
{
  color: white;
  font-family: verdana;
  font-size: 11px;
  border:1px solid #3F3F3F;
  border-top-color:#888888;
  border-left-color:#888888;
  cursor:hand;
}

.SelectedTopLevelTab
{
  color: #3F3F3F;
  background-color: #CFD7DB;
  font-family: verdana;
  font-size: 11px;
  border:1px solid gray;
  border-style:solid;
  border-color:#595959;
  border-right-color:#FFFFFF;
  border-bottom-color:#CCCCCC;
  position:relative;
  top:1px;
  cursor:default;
}

.Level2Tab 
{
  color:#3F3F3F;
  font-family:verdana;
  font-size:10px;
  border:1px solid #CCCCCC;
  cursor: pointer;
}

.Level2TabHover 
{
  color: #3F3F3F;
  font-family: verdana;
  font-size: 10px;
  border:1px solid white;
  border-right-color: #999999;
  border-bottom-color: #999999;
  cursor: pointer;
}

.SelectedLevel2Tab 
{
  color:#3F3F3F;
  background-color:#CFD7DB;
  font-family:verdana;
  font-size:10px;
  border:1px solid white;
  border-left-color:#999999;
  border-top-color:#999999;
  border-bottom-color:#F6F6F6;
  position:relative;
  top:2px;
  cursor:default;
}
.ScrollItem 
{
  color:black; 
  background-image: url(../images/scroll_item_bg.gif);
  border: 1px solid #919B9C; 
  border-left-color: #91A7B4; 
  border-top-color: #91A7B4; 
  font-family:MS Sans Serif, Verdana; 
  font-size:10px; 
  height: 20px;
  cursor:default;
}

.ScrollItemHover 
{
  color:black; 
  background-image: url(../images/hover_scroll_item_bg.gif);
  border: 1px solid #919B9C; 
  border-left-color: #91A7B4; 
  border-top-color: #91A7B4; 
  font-family:MS Sans Serif, Verdana; 
  font-size:10px; 
  height: 20px;
  cursor:default;
}
  
.textboxright {text-align:right;}
.textboxleft {text-align:left;}
.buttoncenter {text-align:center;}
.vtab-active {background-color:#CFD7DB;}
.htab-active {background-color:#CFD7DB;}
.xtan-border {background-color:#CFD7DB;}
.style3
{
  width: 10%;
}

