vti_encoding:SR|utf8-nl
vti_author:SR|APOLLO\\Administrator
vti_modifiedby:SR|APOLLO\\Administrator
vti_timelastmodified:TR|02 Feb 2007 00:56:18 -0000
vti_timecreated:TR|02 Feb 2007 00:56:18 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{766AE21E-2273-4C7E-91BA-88158C396451}
vti_backlinkinfo:VX|help/rule_upload/default.htm
vti_syncwith_8.7.24.5\:80:TR|02 Feb 2007 00:56:18 -0000
vti_syncwith_hercules.rate-monitor.com\:80:TR|02 Feb 2007 00:56:18 -0000
vti_syncwith_8.7.24.39\:80:TR|02 Feb 2007 00:56:18 -0000
vti_syncwith_dev.rate-monitor.com\:80:TR|02 Feb 2007 00:56:18 -0000
vti_syncwith_mercury.rate-monitor.com\:80:TR|02 Feb 2007 00:56:18 -0000
vti_syncwith_athena.rate-monitor.com\:80:TR|02 Feb 2007 00:56:18 -0000
vti_cacheddtm:TX|02 Feb 2007 00:56:18 -0000
vti_filesize:IR|451
vti_cachedlinkinfo:VX|S|Rule\\ Uploading\\ in\\ Rate-Monitor_nofp_bg.gif
vti_cachedsvcrellinks:VX|FSUS|help/rule_upload/Rule\\ Uploading\\ in\\ Rate-Monitor_nofp_bg.gif
vti_syncwith_advantage.rate-monitor.com\:80:TR|02 Feb 2007 00:56:18 -0000
vti_syncwith_rmlitelv.rate-monitor.com\:80:TX|02 Feb 2007 00:56:18 -0000
vti_syncofs_rmlitelv.rate-monitor.com\:80:TW|03 Sep 2014 18:54:03 -0000
vti_syncofs_localhost\\c\:\\users\\dennis mallonee\\documents\\my web sites\\websites\\www.rate-monitor.com/c\:/users/dennis mallonee/documents/my web sites/websites/www.rate-monitor.com:TW|04 Sep 2014 13:23:00 -0000
vti_syncwith_localhost\\c\:\\users\\dennis mallonee\\documents\\my web sites\\websites\\www.rate-monitor.com/c\:/users/dennis mallonee/documents/my web sites/websites/www.rate-monitor.com:TX|02 Feb 2007 00:56:18 -0000
vti_syncwith_localhost\\d\:\\websites\\rmlite.rate-monitor.com/d\:/websites/rmlite.rate-monitor.com:TX|02 Feb 2007 00:56:18 -0000
vti_syncofs_localhost\\d\:\\websites\\rmlite.rate-monitor.com/d\:/websites/rmlite.rate-monitor.com:TW|04 Sep 2014 13:59:12 -0000
