vti_encoding:SR|utf8-nl
vti_author:SR|APOLLO\\michaelm
vti_modifiedby:SR|APOLLO\\michaelm
vti_timelastmodified:TR|29 Oct 2012 22:50:44 -0000
vti_timecreated:TR|29 Oct 2012 22:14:52 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{DFDAF3D3-1149-4254-9F91-F781D30EAE3B}
vti_backlinkinfo:VX|server_sent_email_template.htm
vti_nexttolasttimemodified:TW|29 Oct 2012 22:43:42 -0000
vti_cacheddtm:TX|29 Oct 2012 22:50:44 -0000
vti_filesize:IR|679
vti_syncwith_advantage.rate-monitor.com\:80:TR|29 Oct 2012 22:50:44 -0000
vti_syncwith_pastreports.rate-monitor.com\:80:TR|29 Oct 2012 22:50:44 -0000
vti_syncwith_siflv.rate-monitor.com\:80:TX|29 Oct 2012 22:50:44 -0000
vti_syncofs_siflv.rate-monitor.com\:80:TW|02 Sep 2014 16:41:28 -0000
vti_syncwith_rmlitelv.rate-monitor.com\:80:TX|29 Oct 2012 22:50:44 -0000
vti_syncofs_rmlitelv.rate-monitor.com\:80:TW|03 Sep 2014 18:55:01 -0000
vti_syncofs_localhost\\c\:\\users\\dennis mallonee\\documents\\my web sites\\websites\\www.rate-monitor.com/c\:/users/dennis mallonee/documents/my web sites/websites/www.rate-monitor.com:TW|04 Sep 2014 13:23:19 -0000
vti_syncwith_localhost\\c\:\\users\\dennis mallonee\\documents\\my web sites\\websites\\www.rate-monitor.com/c\:/users/dennis mallonee/documents/my web sites/websites/www.rate-monitor.com:TX|29 Oct 2012 22:50:44 -0000
vti_syncwith_localhost\\d\:\\websites\\rmlite.rate-monitor.com/d\:/websites/rmlite.rate-monitor.com:TX|29 Oct 2012 22:50:44 -0000
vti_syncofs_localhost\\d\:\\websites\\rmlite.rate-monitor.com/d\:/websites/rmlite.rate-monitor.com:TW|04 Sep 2014 13:59:29 -0000
