vti_encoding:SR|utf8-nl
vti_author:SR|APOLLO\\Administrator
vti_modifiedby:SR|APOLLO\\Administrator
vti_timelastmodified:TR|12 May 2007 19:24:45 -0000
vti_timecreated:TR|12 May 2007 17:54:31 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{342E089D-367F-4500-8A15-D2B841AB509A}
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|12 May 2007 17:57:53 -0000
vti_syncwith_8.7.24.5\:80:TR|12 May 2007 19:24:45 -0000
vti_syncwith_hercules.rate-monitor.com\:80:TR|12 May 2007 19:24:45 -0000
vti_syncwith_8.7.24.39\:80:TR|12 May 2007 19:24:45 -0000
vti_syncwith_dev.rate-monitor.com\:80:TR|12 May 2007 19:24:45 -0000
vti_syncwith_mercury.rate-monitor.com\:80:TR|12 May 2007 19:24:45 -0000
vti_syncwith_athena.rate-monitor.com\:80:TR|12 May 2007 19:24:45 -0000
vti_cacheddtm:TX|12 May 2007 19:24:45 -0000
vti_filesize:IR|3452
vti_cachedlinkinfo:VX|S|images/grid_headerBg.gif S|images/header_rowBg.gif S|images/header_bg.gif S|images/header_hoverBg.gif S|images/header_activeBg.gif S|images/header_bg.gif S|../images/input_orange.gif
vti_cachedsvcrellinks:VX|NSUS|inc/images/grid_headerBg.gif NSUS|inc/images/header_rowBg.gif NSUS|inc/images/header_bg.gif NSUS|inc/images/header_hoverBg.gif NSUS|inc/images/header_activeBg.gif NSUS|inc/images/header_bg.gif FSUS|images/input_orange.gif
vti_syncwith_advantage.rate-monitor.com\:80:TR|12 May 2007 19:24:45 -0000
vti_syncwith_pastreports.rate-monitor.com\:80:TR|12 May 2007 19:24:45 -0000
vti_syncwith_siflv.rate-monitor.com\:80:TX|12 May 2007 19:24:45 -0000
vti_syncofs_siflv.rate-monitor.com\:80:TW|02 Sep 2014 16:41:28 -0000
vti_syncwith_rmlitelv.rate-monitor.com\:80:TX|12 May 2007 19:24:45 -0000
vti_syncofs_rmlitelv.rate-monitor.com\:80:TW|03 Sep 2014 18:55:02 -0000
vti_syncofs_localhost\\c\:\\users\\dennis mallonee\\documents\\my web sites\\websites\\www.rate-monitor.com/c\:/users/dennis mallonee/documents/my web sites/websites/www.rate-monitor.com:TW|04 Sep 2014 13:23:19 -0000
vti_syncwith_localhost\\c\:\\users\\dennis mallonee\\documents\\my web sites\\websites\\www.rate-monitor.com/c\:/users/dennis mallonee/documents/my web sites/websites/www.rate-monitor.com:TX|12 May 2007 19:24:45 -0000
vti_syncwith_localhost\\d\:\\websites\\rmlite.rate-monitor.com/d\:/websites/rmlite.rate-monitor.com:TX|12 May 2007 19:24:45 -0000
vti_syncofs_localhost\\d\:\\websites\\rmlite.rate-monitor.com/d\:/websites/rmlite.rate-monitor.com:TW|04 Sep 2014 13:59:29 -0000
