vti_encoding:SR|utf8-nl
vti_restartmanual:IX|0
vti_webservertype:SR|msiis
vti_defaultlanguage:SR|en-us
vti_timecreated:TR|22 Mar 2006 22:57:45 -0000
vti_structto_dev.rate-monitor.com\:80:TR|23 Feb 2005 22:28:17 -0000
vti_textindexood:IR|0
vti_approvallevels:VR|Approved Denied Pending\\ Review
vti_hassearchbot:BR|false
vti_structfrom_www.rate-monitor.com\:80:TR|23 Feb 2005 22:28:17 -0000
vti_copytimestamp_http\://8.7.24.5:TR|20 Jul 2007 02:39:12 -0000
vti_showhiddenpages:IR|0
vti_featurelist:VX|vti_ACCreateNewUsers vti_ACChangePassword vti_ACNoUserGroup vti_ACCreateNewGroups vti_ACModifyGroups vti_ServiceMarkUrlDirExec vti_ACIPAddresses vti_ServerIndexServer vti_ServerCollab vti_TimedDocEvents
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_copytimestamp_http\://www.rate-monitor.com/optimized:TR|15 May 2006 05:42:46 -0000
vti_copytimestamp_http\://www.rate-monitor.com/dev_1:TR|23 May 2006 22:54:45 -0000
vti_structto_hercules.rate-monitor.com\:80:TR|23 Feb 2005 22:28:17 -0000
vti_structto_athena.rate-monitor.com\:80:TR|23 Feb 2005 22:28:17 -0000
vti_approvalapproved:SR|Approved
vti_approvaldenied:SR|Denied
vti_defaultcharset:SR|windows-1252
vti_autorecalc:IX|1
vti_navbuttonuplabel:SR|Up
vti_copytimestamp_http\://athena.rate-monitor.com:TR|13 Mar 2013 18:52:57 -0000
vti_copytimestamp_http\://pastreports.rate-monitor.com:TR|21 Nov 2013 21:16:07 -0000
vti_disableautoimgsizeexts:SX|.asp
vti_createpostinfo:BX|false
vti_extenderversion:SR|5.0.2.6790
vti_ignorekeyboard:IR|0
vti_navbuttonprevlabel:SR|Back
vti_htmloptimization:IW|32528
vti_structto_8.7.24.5\:80:TR|23 Feb 2005 22:28:17 -0000
vti_copytimestamp_http\://dev.rate-monitor.com:TR|22 Sep 2009 22:58:26 -0000
vti_structto_advantage.rate-monitor.com\:80:TR|23 Feb 2005 22:28:17 -0000
vti_copytimestamp_http\://advantage.rate-monitor.com:TR|13 Mar 2013 18:44:11 -0000
vti_dependenciesood:IR|0
vti_navbuttonhomelabel:SR|Home
vti_copytimestamp_http\://8.7.24.39:TR|09 Jun 2008 19:58:59 -0000
vti_structto_mercury.rate-monitor.com\:80:TR|23 Feb 2005 22:28:17 -0000
vti_copytimestamp_file\:///C\:/Users/Dennis Mallonee/Documents/My Web Sites/websites/www.rate-monitor.com:TR|04 Sep 2014 13:21:19 -0000
vti_usernames:VR|
vti_scnoprompt:IW|1
vti_structto_www.rate-monitor.com\:80/optimized:TR|23 Feb 2005 22:28:17 -0000
vti_oldestcompatibleversion:SR|2.0.0.0
vti_structto_www.rate-monitor.com\:80/dev_1:TR|23 Feb 2005 22:28:17 -0000
vti_copytimestamp_http\://hercules.rate-monitor.com:TR|26 Dec 2012 17:32:22 -0000
vti_copytimestamp_http\://mercury.rate-monitor.com:TR|15 Mar 2010 19:06:24 -0000
vti_copytimestamp_file\:///D\:/websites/rmlite.rate-monitor.com:TR|03 Oct 2014 13:29:58 -0000
vti_copytimestamp_file\:///D\:/websites/www.rate-monitor.com:TR|03 Oct 2014 13:34:55 -0000
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_navbuttonnextlabel:SR|Next
vti_structto_8.7.24.39\:80:TR|23 Feb 2005 22:28:17 -0000
vti_structto_pastreports.rate-monitor.com\:80:TR|23 Feb 2005 22:28:17 -0000
