vti_encoding:SR|utf8-nl
vti_author:SR|APOLLO\\michaelm
vti_modifiedby:SR|APOLLO\\michaelm
vti_timelastmodified:TR|07 Mar 2013 22:58:38 -0000
vti_timecreated:TR|07 Mar 2013 22:58:38 -0000
vti_cacheddtm:TX|07 Mar 2013 22:58:38 -0000
vti_filesize:IR|2669
vti_cachedlinkinfo:VX|S|mainbk.png S|mainbk.png S|arrowsub.png
vti_cachedsvcrellinks:VX|FSUS|menu0313/inc/css3menu0/mainbk.png FSUS|menu0313/inc/css3menu0/mainbk.png FSUS|menu0313/inc/css3menu0/arrowsub.png
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{387163E2-2B27-4F80-A129-7EAD4C006DCF}
vti_backlinkinfo:VX|menu0313/default.html
vti_syncofs_localhost\\c\:\\users\\dennis mallonee\\documents\\my web sites\\websites\\www.rate-monitor.com/c\:/users/dennis mallonee/documents/my web sites/websites/www.rate-monitor.com:TW|04 Sep 2014 13:23:34 -0000
vti_syncwith_localhost\\c\:\\users\\dennis mallonee\\documents\\my web sites\\websites\\www.rate-monitor.com/c\:/users/dennis mallonee/documents/my web sites/websites/www.rate-monitor.com:TX|07 Mar 2013 22:58:38 -0000
vti_syncwith_localhost\\d\:\\websites\\rmlite.rate-monitor.com/d\:/websites/rmlite.rate-monitor.com:TX|07 Mar 2013 22:58:38 -0000
vti_syncofs_localhost\\d\:\\websites\\rmlite.rate-monitor.com/d\:/websites/rmlite.rate-monitor.com:TW|04 Sep 2014 13:59:43 -0000
